@media screen and (min-width: 501px) {
    .hamburger-menu {
        display: none;
    }
    .container-header {
        grid-template-columns: 100px repeat(3, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .link-section {
        display: none;
    }
    .container-header {
        grid-template-columns: 100px;
    }
    .presentation-video {
        display: none;
    }
    #section1 {
        background-image: url("/img/apex-fond1.jpg"); 
        background-size: cover;
        background-position: center;
    }
}