html, body {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    user-select: none;
    color: white;
}

::-webkit-scrollbar {
    display: none;
}

header {
    position: fixed;
    z-index: 1; 
    top: 0;
    height: fit-content;
    width: 100%;
    background-color: rgb(34, 34, 34);

    color: white;
    padding: 1rem;
}

.container-header {
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr) 100px;
    align-items: center;
}

header .logo-apex, .link-section {
    transition: transform 0.3s ease;
}

header .logo-apex:hover {
    transform: scale(1.2);
}

.link-section {
    display: flex;
    justify-content: center;
}

.link-section:hover {
    color: rgb(255, 52, 52);
} 

header .logo-apex {
    width: 80px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-self: center;
}

footer {
    height: 10%;
    background-color: bisque;
}

section {
    width: 100vw;
    height: 100vh;
}

.section1, .section2, footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1 {
    overflow: hidden;
    position: relative;
}

.presentation-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: 0; 
}

.container-presentation-info {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center; 
}

.container-presentation-info .logo-apex {
    width: 300px;
}

#menu__toggle {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

#menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
    right: 0;   
}

.menu__btn {
    position: fixed;
    top: 40px;
    right: 40px;
    width: 1.5rem;
    height: 30px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
    border-radius: 1rem;
}

.menu__btn > span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
    clip-path: polygon(100% 0, 100% 30%, 80% 28%, 60% 30%, 60% 0);
    background-color: #800000;
    background: linear-gradient(to bottom right, #800000, #a30000, #ff0000);
    text-align: right;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-decoration: none;
    transition-duration: .25s;
}

.menu__item:hover {
    background-color: #c30000;  
}

.container-legendes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 100px;
}

.cards-legendes {
    width: 200px;
    height: 200px;
    background-color: grey;
}