body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    user-select: none;
    color: white;
}

::-webkit-scrollbar {
    display: none;
}

/* Header */

header {
    position: fixed;
    z-index: 1; 
    top: 0;
    width: 100%;
    height: fit-content;
    padding: 0.5rem;
    background-color: rgb(34, 34, 34);
}

.container-header {
    display: grid;
    grid-template-columns: 100px repeat(4, 1fr);
    align-items: center;
}

header .logo-apex, .link-section {
    transition: transform 0.3s ease;
}

.link-section {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.link-section:hover {
    color: rgb(255, 52, 52);
} 

header .logo-apex {
    width: 60px;
    position: relative;
    display: flex;
    justify-self: center;
}

header .logo-apex:hover {
    transform: scale(1.2);
}

header div:last-child {
    grid-column: 5;
}

header div:last-child a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.3s ease;
    padding-right: 5rem;
}

header div:last-child a:hover {
    color: white;
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 52, 52);
}

/* Section */

section {
    width: 100vw;
    height: 100vh;
}

/* Section 1 */
.container-presentation-info {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center; 
}

.presentation-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: 0; 
}

.container-presentation-info .logo-apex {
    width: 300px;
}

/* Menu burger */
#menu__toggle {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

#menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
    right: 0;   
}

.menu__btn {
    position: fixed;
    top: 25px;
    right: 40px;
    width: 1.5rem;
    height: 30px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #a0a0a0;
    transition-duration: .25s;
    border-radius: 1rem;
}

.menu__btn > span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
    clip-path: polygon(100% 0, 100% 25%, 80% 22%, 65% 25%, 65% 0);
    background-color: #a00000;
    text-align: right;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-decoration: none;
    transition-duration: .25s;
}

.menu__item:hover {
    background-color: #c30000;  
}

/* Section 2*/
#section2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-cartes {
    width: 1000px;
    height: 800px;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    border-radius: 0.4rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cartes-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 1rem;
}

.container-cartes ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.container-cartes li {
    padding-inline: 3rem;
    font-style: italic;
}

.container-cartes li:hover {
    color: rgb(255, 52, 52);
    text-decoration: underline;
    text-decoration-thickness: 2px; 
}

.container-cartes img {
    width: 900px;
    height: 650px;
    object-fit: cover; 
    -webkit-mask-image: url('img/fond-carte.png');
    mask-image: url('img/fond-carte.png');
    mask-size: 950px 650px; 
    mask-repeat: no-repeat;
    transition: transform 0.3s ease;
}

.container-cartes img:hover {
    transform: scale(1.1);
}

.container-cartes p {
    font-weight: bold;
}

/* Section 3 */

#section3 {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#section2, #section3 {
    background: url("img/fond-degrade-rouge.jpg") no-repeat center center fixed;
    background-size: cover;
}

.container-modes {
    width: fit-content;
    height: 800px;
    color: black;
    border-radius: 0.4rem;
    display: grid;
    grid-template-rows: repeat(4, 200px);
}

.container-modes div {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.container-modes div:nth-child(1) {
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%, 0 10%);
}
.container-modes div:nth-child(4) {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 90% 100%, 0 100%);
}

.container-modes div:nth-child(odd) {
    background: linear-gradient(90deg, rgba(252,143,60,1) 0%, rgba(252,147,61,1) 30%, rgba(252,149,62,1) 60%, rgba(252,154,63,1) 90%);
}

.container-modes div:nth-child(even) {
    background: linear-gradient(90deg, rgba(169,184,226,1) 0%, rgba(169,184,226,1) 30%, rgba(156,186,230,1) 60%, rgba(151,187,232,1) 90%);
}

.container-modes div:nth-child(even) p, .container-modes div:nth-child(even) h3 {
    display: flex;
    justify-content: right;
    text-align: right;
}

/* Footer */
footer {
    width: 100%;
    height: fit-content;
    padding: 3rem;
    background-color: rgb(34, 34, 34);
}

.container-footer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-right: 5rem;
}

.contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.contacts-logo {
    width: 30px;
    height: 30px;
    margin-right: 0.5rem;
    vertical-align: middle;
}

.contacts a {
    text-decoration: none;
    color: white;
}

.contacts a:hover {
    color: red;
}

.container-footer div:nth-child(1) {
    grid-column: 2;
}

footer .apex-logo {
    width: 60px;
    display: flex;
    align-self: center;
    justify-self: center;
}

@media screen and (width > 500px) {
    .hamburger-menu {
        display: none;
    }
    .container-header {
        grid-template-columns: 100px repeat(3, 1fr);
    }
}

@media screen and (width <= 960px) {
    .contacts-desc {
        display: none;
    }

    footer h3 {
        font-size: small;
    }
}

@media screen and (width <= 500px) {
    .link-section, .link-legends {
        display: none;
    }
    .container-header {
        grid-template-columns: 100px;
    }
    .presentation-video {
        display: none;
    }
    #section1 {
        background-image: url("/img/apex-fond1.jpg"); 
        background-size: cover;
        background-position: center;
    }
}